<h1>Reactive</h1>
<!--mit [formGroup] Angular mitteilen, 
        dass er nicht selbst das Formular automatisch erstellen soll, 
        sondern das von mir erstellte benutzen soll-->
<form [formGroup]="myForm" (ngSubmit)="onSubmit()"> 
<!-- formGroupName: Gruppieren-->
  <div formGroupName="userData">

    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             class="form-control"
             id="username"
             formControlName="username"
      >
      <!--formControlName="username" ist identisch zu "username"
    bei FormControl in reactive.component.ts-->
    </div>
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text"
             class="form-control"
             id="email"
             formControlName="email"
      >
      <div *ngIf="!myForm.controls['userData']['controls'].email.valid && myForm.get(['userData', 'email']).value">Ungültige Mailadresse</div>
    {{myForm.controls['userData']['controls'].email.valid}}
    <br>
    {{myForm}}
    </div>
    
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           id="password"
           formControlName="password"
    >
  </div>
  <div class="radio" *ngFor="let g of genders">
    <label>
      <input type="radio"
            formControlName="gender"
            [value]="g"
      >{{g}}
    </label>
  </div>
  <!--durch formArrayName="hobbies" weiß, dass Angular, 
    dass dieses Div ein Array ist 
    und formControlName bezieht sich nicht mehr auf den Namen einer Property, 
    sondern auf dem Index eines Elements vom Array "hobbies"-->
  <div formArrayName="hobbies">
      <h3>Hobbies</h3>
      <div class="form-group" *ngFor="let hobby of getHobbyControls(); let i=index">
          <input 
            type="text" 
            class="form-control" 
            formControlName="{{i}}"
          >
      </div>
  </div>
  <button type="button" class="btn btn-default" (click)="onAddHobby()">Neues Hobby</button>
  <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
</form>
