<div class="container">
  <div class="row">
    <div class="col">
      <h1>Attribute Directives</h1>
      <h2>ngClass / ngStyle</h2>
      <div class="box" [ngStyle]="{ 'background-color': color }"></div>
      {{ color }}
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Custom Attribute Directive</h2>
      <!-- Definiert in hightlight.directive -->
      <p appHighlight defaultColor="blue" highlightColor="cyan">Ich bin hervorgehoben</p>
      <p appHighlight [defaultColor]="'yellow'" [highlightColor]="color">Oder so</p>
      <hr />
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h1>Structural Directives</h1>
      <h2>*ngIf</h2>
      <div *ngIf="switch">Nicht immer zu sehen</div>
      <button (click)="switch = !switch" class="btn btn-primary">Switch</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>*ngFor</h2>
      <ul class="list-group">
        <li
          *ngFor="let item of elemente; let i = index"
          class="list-group-item"
        >
          {{ item }}
          <span class="badge badge-primary badge-pill">{{ i }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>*ngFor</h2>
      <ul class="list-group">
        <li *ngFor="let item of test" class="list-group-item">
          {{ item.name }}
          <span class="badge badge-primary badge-pill">{{ item.number }}</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Object & KeyValue Pipe</p>
      <ul class="list-group">
        <li *ngFor="let item of testObject | keyvalue" class="list-group-item">
          Key: <b>{{ item.key }}</b> and Value: <b>{{ item.value }}</b>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Object & KeyValue Pipe</p>
      <ul class="list-group">
        <li *ngFor="let item of testMap | keyvalue" class="list-group-item">
          Key: <b>{{ item.key }}</b> and Value: <b>{{ item.value }}</b>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <h2>ngSwitch</h2>
      <div [ngSwitch]="value">
        <p *ngSwitchCase="10">10</p>
        <p *ngSwitchCase="100">100</p>
        <p *ngSwitchDefault>Irgendwas</p>
      </div>
    </div>
    <div class="col-xs-6">
      <h2>als ngIf</h2>
      <p *ngIf="value==='10'">10</p>
      <p *ngIf="value==='100'">100</p>
      <p *ngIf="value==='default'">Irgendwas</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>UnlessDirective</h2>
      <div *appUnless="switch">Ist das zu sehen</div>
      <!-- Binden an die Directive -->
    </div>
  </div>
</div>
