<input type="text" #i>
<p>p: {{i.value}}</p>
<!-- #i sozusagen ein Tag auf den man referenzieren kann, aber nur innerhalb des Templates
Im TS Code muss man ViewChild machen  -->
<ng-content></ng-content>

<input type="text" [(ngModel)]="platzhalter">
{{platzhalter}}