<h1>Template Driven</h1> <!-- Bei Angular scheint required alleine nicht auszureichen, deswegen ngNativeValidate-->
<form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>
    <!-- ngSubmit wird aufgerufen, wenn man Formular abschickt -->
    <!-- f ist in dem Fall das JavaScript Formular, das Angular erstellt hat-->
  <div ngModelGroup="userData"> <!-- ngModelGroup kann man Controls zusammenfassen-->
    <div class="form-group">
      <label for="username">Username</label>
      <!--[(ngModel)] Two-Way Binding, d.h user.username wird geändert-->
      <input type="text"
             class="form-control"
             id="username"
             [(ngModel)]="user.username"
             name="username"
             required
             >
             <!-- mit ngModel weißt Angular, dass dieses Element ein Control ist 
                und gehört somit zum Formular. In Verbindung mit name,
                sieht man dieses Property in der Console
                Angular erstellt ja nebenbei ein JS des Formulars.-->
    </div>
    <div class="form-group">
      <label for="email">E-Mail</label>
      <!--[ngModel] One Way Binding, d.h user.email wird nicht geändert -->
      <input type="email"
             class="form-control"
             id="email"
             [ngModel]="user.email"
             name="email"
             pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"    
             required
             #emailControl="ngModel"> <!--Zugriff auf diesen Control-->
      <div *ngIf="!emailControl.valid && emailControl.value">Ungültige Mailadresse</div>
      <!-- Nur anzeigen, falls nicht valide ist && Werte enthält -->
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           id="password"
           [(ngModel)]="user.password"
           name="password"
           required
           >
  </div>
  <div class="radio" *ngFor="let g of genders">
    <label>
      <input type="radio"
             name="gender"
             [ngModel]="user.gender"
             [value]="g">{{ g }}
             <!-- [ngModel] = One Way Binding (Männlich wird ausgewählt als Standard) doch was ist das Geschlecht des Radio Buttons?
             -> Hier wird Wert zugewiesen[value]="g" Männlich/Weiblich
            D.h [ngModel] weißt zu, dass es gebunden sein soll an user.gender und dies wird automatisch mit [value] selektiert
            Wenn user.gender = "g" -->
    </label>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
</form> <!-- [disabled]="boolean" ist disabled, wenn f.valid = false ist-->
<div>
    <p>{{user.username}}</p>
    <p>{{user.email}}</p>
    <p>{{user.password}}</p>
</div>