<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ul class="nav navbar-nav">
        <li>
          <!-- Link mit Query Parameter -->
          <a routerLink="/" [queryParams]="{'token': 500}" 
          routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Home</a>
          <!-- routerLinkActiveOptions={exact:true} = routerLinkActive nur dranhängen, 
          wenn gesamter Pfad übereinstimmt (Seit neue Angular muss man das nicht mehr machen) -->
        </li>
        <li>
          <!-- /user/:id-->
          <a [routerLink]="['/user', userInput.value]" routerLinkActive="active">User</a> <!-- /user Absoluter Pfad-->
        </li>
      </ul>      
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- (input)="0" Input Event reagieren (Angular Change Detection wird gestartet)
      Wert #userInput wird aktualisiert (keyup)="0" geht auch. 
      "0" Wir übergeben quasi nichts, es soll nur auf den Input Event reagieren, damit
      Change Detection gestartet wird -->
      <input type="text" #userInput (input)="0" onkeyup="document.getElementById('p1').innerText = value">
      {{userInput.value}}
      <p id="p1"></p>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>