<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <h1>Pipes</h1>
      {{text | uppercase }}
      <p>{{date | date:'dd.MM.yy'}}</p>
      <p>{{text | slice:2:7 | uppercase }}</p> <!-- 2 bis 7 EXKLUSIVE -->
    <hr>
    <input type="text" #input (keyup)="0">
    <p>{{ input.value | multiply:3 }}</p> <!-- man kann auch mehrere args übergeben -->
    <ul>
      <li *ngFor="let element of list | filter:'brot'">{{ element }}</li>
    </ul> <!-- (click)="list.push('Käsebrot')" -->
    <button class="btn btn-primary" (click)="onClick('Käsebrot')">Neues Element</button>
    <hr>
      {{asyncValue | async}} 
      <!-- async teilt Angular mit, dass diese Property asynchron verwendet wird 
        und sich der Wert ändern wird. Entweder Promise oder Observable-->
  </div>
  </div>
</div>