<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>{{title}}</h1>
      <hr>
      <button class="btn btn-primary" (click)="onAnimate()">Animieren!</button>
      <button class="btn btn-primary" (click)="onShrink()">Schrumpfen!</button>
      <hr>
      <!-- [@einfach] = Property Binding an ein trigger; einfach = Name des Triggers; state = Name des States-->
      <div style="width: 100px; height: 100px; background-color: green;"
          [@einfach]='state'
          (@einfach.start)="onAnimationStarted($event)"
          (@einfach.done)="onAnimationDone($event)"></div>
      <hr>
      <button class="btn btn-primary" (click)="onShow()">Anzeigen</button>
      <br><br>
      <div style="width: 100px; height: 100px; background-color: red;"
        [@komplex]='complexState' *ngIf="show"></div>
      <hr>
      <button class="btn btn-primary" (click)="onNewElement()">Element hinzufügen</button>
      <hr>
      <ul class="list-group">
        <li 
        *ngFor="let item of items" 
        class="list-group-item"
         [@liste]
         (click)="onRemove(item)">{{item}}</li>
      </ul>
    </div>
  </div>
</div>