<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12">
      <h1>Http!</h1>
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" #username>
      <label for="email">E-Mail</label>
      <input type="email" class="form-control" id="email" #email>
      <br>
      <button class="btn btn-success" (click)="onSubmit(username.value, email.value)">Übermitteln</button>
      <hr>
      <button class="btn btn-primary" (click)="onGetData()">Daten abrufen</button>
      <ul>
        <li *ngFor="let user of users">{{user.email}} | {{user.username}}</li>
      </ul>
      <hr>
      <h1>Asynchronous Call</h1>
      <ul>
        <!-- Async Pipe verwenden, um etwas zu laden, wenn was da ist und nicht von Anfang an! Async führt selber ein Subscribe aus -->
        <li *ngFor="let asyncUser of asyncUsers | async">{{asyncUser.email}} | {{asyncUser.username}}</li>
      </ul>
    </div>
  </div>
</div>